#wrap{
    display: flex;
    margin-top: 200px;
}
#lnb{
    display: inline-block;
    width : 300px;
}
.category{
    margin-top : 70px;
}
.category > ul > li{
    list-style: none;
    margin-bottom: 10px;
}
.category > ul{
    padding-left: 0;
}
.my_cont{
    width: 2400px;
}
.cont_list_btn{
    float: right;
}
.cont_list_info{
    margin-top: 40px;
}
.cont_list_info > ul {
    padding-left: 0;
}
.cont_list_info > ul > li{
    margin-top: 20px;
    list-style: none;
    padding: 40px 30px;
    border: 1px solid #dbdbdb

}
#addAddressBtn{
    min-width: 140px;
    padding: 20px 18px;
    background-color: red;
    color: white;
}
.addAddressBtn{
    text-align: right;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.form-group > .row{
    margin : 20px;
}

.row > label{
    float: left;
    line-height: 1.3;
    padding-left: 30px;
    padding-top: 30px;
    width: 150px;
}
.row > input[type=checkbox] {
    float:right;
}

.data{
    padding-left: 200px;
}
.data > input{
    height: 30px;
    width: 400px;
    margin: 20px;
}
#zipCode{
    width : 295px;
}

.title {
    border-bottom: solid;
    padding-bottom: 20px;
}