<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/config/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}">-->
    <title>Document</title>
</head>
<body>
<!--<header th:replace="~{common/config/navbar::headerFragment}"></header>-->
<div class="container" layout:fragment="content">
<h1>asdasd</h1>
</div>
<!--<footer th:replace="~{common/config/footer::footer}"></footer>-->


</body>
</html>