<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>메인페이지</h1>
<a href="/members/join">회원가입</a><br>
<a href="/members/login" sec:authorize="isAnonymous()">로그인</a><br>
<a href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a><br>
<a href="/members/inquiry">아이디/비밀번호 찾기</a><br>
<a href="/notice">공지사항</a><br>
<a href="/faqs">faq</a><br>

<a href="/admin-page" sec:authorize="hasRole('ROLE_ADMIN')">관리자페이지</a>
</body>
</html>