<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<h2>회원가입</h2>

    <form action="/members/new" method="post" th:object="${memberDto}">
        <div>
            <label th:for="userId" >아이디</label>
            <input type="text" id="userId" th:field="*{userId}" placeholder="아이디를 입력해주세요"
                   th:class="${#fields.hasErrors('userId')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></p>
        </div>

        <div>
            <label th:for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요"
                th:class="${#fields.hasErrors('password')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>

        <div>
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력해주세요."
                th:class="${#fields.hasErrors('name')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        </div>

        <div>
            <label th:for="sex">성별</label>
            <input type="radio" th:field="*{sex}" th:value="남자" th:text="남"
                   th:class="${#fields.hasErrors('sex')} ? 'form-control field-error' : 'form-control'">
            <input type="radio" th:field="*{sex}" th:value="여자" th:text="여"
                   th:class="${#fields.hasErrors('sex')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
        </div>

        <div>
            <label th:for="email">이메일</label>
            <input type="email" th:field="*{email}" placeholder="이메일을 입력해주세요."
                th:class="${#fields.hasErrors('email')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>

        <div>
            <label for="prefixNumber">전화번호</label>
            <select name="prefixNumber" id="prefixNumber">
                <option value="" th:each="prefixNumber : ${memberDto.getPrefixNumberList()}" th:value="${prefixNumber}" th:text="${prefixNumber}">11</option>
            </select>
            <input type="text" th:field="*{number}"
                th:class="${#fields.hasErrors('number')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></p>
            <input type="text" th:field="*{suffixNumber}"
                th:class="${#fields.hasErrors('suffixNumber')} ? 'form-control field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('suffixNumber')}" th:errors="*{suffixNumber}"></p>
        </div>

        <button type="submit">회원가입</button>
    </form>

</body>

</html>